flows.json
[{"id":"f570c7bf.047028","type":"tab","label":"Geo Fence","disabled":false,"info":""},{"id":"bfdb309b.71929","type":"geofence","z":"f570c7bf.047028","name":"","mode":"circle","inside":"both","rad":970.2557933147343,"points":[],"centre":{"latitude":17.509995304566466,"longitude":78.50400924682617},"x":320,"y":120,"wires":[["eb3d0293.92509"]]},{"id":"1b804c20.3a4efc","type":"function","z":"f570c7bf.047028","name":"location for geofence","func":"msg={\n   // payload:\"Outside the range\",\n    location:{\n       lat:global.get('lat'),\n       lon:global.get('lon')\n       //lat:\"17.51068\",\n      //lon:\"78.50236\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":199,"y":64,"wires":[["bfdb309b.71929"]]},{"id":"36aad5a6.70d0d2","type":"debug","z":"f570c7bf.047028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":774,"y":124,"wires":[]},{"id":"32161b87.80f594","type":"cloudant out","z":"f570c7bf.047028","name":"","cloudant":"","database":"time_record","service":"node-red-seldz-cloudant-1584439348218-36054","payonly":false,"operation":"insert","x":690.5,"y":340,"wires":[]},{"id":"831b3a0f.483318","type":"inject","z":"f570c7bf.047028","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":113.5,"y":126,"wires":[["1b804c20.3a4efc"]]},{"id":"94c8bc39.8c63d8","type":"rbe","z":"f570c7bf.047028","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":514,"y":104,"wires":[["36aad5a6.70d0d2","5f9c9b78.c1c74c","719e664c.0d0a58"]]},{"id":"eb3d0293.92509","type":"change","z":"f570c7bf.047028","name":"","rules":[{"t":"move","p":"location.inarea","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.5,"y":59,"wires":[["94c8bc39.8c63d8"]]},{"id":"5f9c9b78.c1c74c","type":"switch","z":"f570c7bf.047028","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":114.5,"y":211,"wires":[["e8848c71.85be78","e6bc6ad8.fe6f3"],["bb973a6f.fb36e","d3a56e1d.6e9d4"]]},{"id":"e8848c71.85be78","type":"function","z":"f570c7bf.047028","name":"enter time function in node red","func":"\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\"message\":\"Entered\",\"Time\":newDate.toLocaleString()};\n\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":278,"wires":[["4a8f0e52.813118","32161b87.80f594","5b3e4929.dd7308"]]},{"id":"4a8f0e52.813118","type":"debug","z":"f570c7bf.047028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":685,"y":277,"wires":[]},{"id":"bb973a6f.fb36e","type":"function","z":"f570c7bf.047028","name":"exit time function in node red","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\"message\":\"Exit\",\"Time\":newDate.toLocaleString()};\n\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":340,"wires":[["32161b87.80f594","4a8f0e52.813118"]]},{"id":"d7c95d4a.bbae7","type":"http in","z":"f570c7bf.047028","name":"","url":"/get","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["24848c55.37e1ec"]]},{"id":"52cb2574.e5460c","type":"http response","z":"f570c7bf.047028","name":"","statusCode":"","headers":{},"x":499,"y":615,"wires":[]},{"id":"24848c55.37e1ec","type":"function","z":"f570c7bf.047028","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":543,"wires":[["52cb2574.e5460c","6df5a433.902cb4","c5ac71f.a9df69","962c8d51.4fbff"]]},{"id":"c5ac71f.a9df69","type":"function","z":"f570c7bf.047028","name":"latitude","func":"global.set(\"lat\",msg.payload.lat)\nreturn {payload:msg.payload.lat}","outputs":1,"noerr":0,"x":504,"y":501,"wires":[[]]},{"id":"962c8d51.4fbff","type":"function","z":"f570c7bf.047028","name":"longitude","func":"global.set(\"lon\",msg.payload.lon)\nreturn {payload:msg.payload.lon}","outputs":1,"noerr":0,"x":505,"y":559,"wires":[[]]},{"id":"6df5a433.902cb4","type":"debug","z":"f570c7bf.047028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":502,"y":671,"wires":[]},{"id":"a452db10.5bcc7","type":"comment","z":"f570c7bf.047028","name":"location from mobile","info":"","x":663.5,"y":470,"wires":[]},{"id":"8dbddfed.e3f82","type":"comment","z":"f570c7bf.047028","name":"notifier to mobile","info":"","x":100,"y":640,"wires":[]},{"id":"719e664c.0d0a58","type":"function","z":"f570c7bf.047028","name":"","func":"global.set(\"status\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":720.5,"y":76,"wires":[[]]},{"id":"cb47346c.5d0a5","type":"comment","z":"f570c7bf.047028","name":"Location from GPS module","info":"","x":150,"y":400,"wires":[]},{"id":"73e6299d.cbfd38","type":"worldmap","z":"f570c7bf.047028","name":"","lat":"17.51","lon":"78.53","zoom":"11","layer":"OSM","cluster":"18","maxage":"1000","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":355.5,"y":842,"wires":[]},{"id":"812cc968.d50ec8","type":"function","z":"f570c7bf.047028","name":"","func":"    msg.payload = {\n         \"name\":\"Dedeepya\",\n         \"lat\":global.get(\"lat\"), \n         \"lon\":global.get('lon') \n   \n   //\"lat\":\"17.433741\",\n   //\"lon\":\"78.554588\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":237,"y":780,"wires":[["6eece8fd.9ee04","73e6299d.cbfd38"]]},{"id":"3c8d431e.ae2b2c","type":"inject","z":"f570c7bf.047028","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":104.5,"y":836,"wires":[["812cc968.d50ec8"]]},{"id":"6eece8fd.9ee04","type":"debug","z":"f570c7bf.047028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430.5,"y":781,"wires":[]},{"id":"d080f4c5.b74cf","type":"debug","z":"f570c7bf.047028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":880,"wires":[]},{"id":"b4cac976.41c08","type":"debug","z":"f570c7bf.047028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1040,"wires":[]},{"id":"46e9168c.0d3f68","type":"function","z":"f570c7bf.047028","name":"","func":"\nmsg.payload=\"In border\"\n\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":915,"wires":[["d080f4c5.b74cf","b1ca743d.e435c"]]},{"id":"681a9fef.2f2878","type":"function","z":"f570c7bf.047028","name":"","func":"\nmsg.payload=\"Crossed the border\"\n\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":977,"wires":[["b4cac976.41c08","ad30dd01.2cdb08"]]},{"id":"e6bc6ad8.fe6f3","type":"link out","z":"f570c7bf.047028","name":"","links":["5623981c.49ba4"],"x":120,"y":312,"wires":[]},{"id":"5623981c.49ba4","type":"link in","z":"f570c7bf.047028","name":"","links":["e6bc6ad8.fe6f3"],"x":78,"y":916,"wires":[["46e9168c.0d3f68"]]},{"id":"d3a56e1d.6e9d4","type":"link out","z":"f570c7bf.047028","name":"","links":["89c46c35.c5d008"],"x":198,"y":330,"wires":[]},{"id":"89c46c35.c5d008","type":"link in","z":"f570c7bf.047028","name":"","links":["d3a56e1d.6e9d4"],"x":79,"y":978,"wires":[["681a9fef.2f2878"]]},{"id":"a884c0f.cffd74","type":"inject","z":"f570c7bf.047028","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["b8236816.508298"]]},{"id":"b8236816.508298","type":"function","z":"f570c7bf.047028","name":"","func":"    msg.payload = {\n         \"name\":\"Gnaneshwar\",\n         //\"lat\":global.get(\"lat\"), \n         //\"lon\":global.get('lon') \n   \n   \"lat\":\"17.433741\",\n   \"lon\":\"78.554588\"\n    }\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":720,"wires":[["73e6299d.cbfd38"]]},{"id":"5b3e4929.dd7308","type":"debug","z":"f570c7bf.047028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":220,"wires":[]},{"id":"b1ca743d.e435c","type":"ui_toast","z":"f570c7bf.047028","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":410,"y":920,"wires":[["d080f4c5.b74cf"]]},{"id":"ad30dd01.2cdb08","type":"ui_toast","z":"f570c7bf.047028","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":400,"y":980,"wires":[["b4cac976.41c08"]]},{"id":"d606451c.94f15","type":"http in","z":"f570c7bf.047028","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":111,"y":439,"wires":[["705da7b2.b09ac8"]]},{"id":"705da7b2.b09ac8","type":"function","z":"f570c7bf.047028","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":439,"wires":[["22aed0ec.fcc378","96debaaa.e9c158"]]},{"id":"22aed0ec.fcc378","type":"http response","z":"f570c7bf.047028","name":"","statusCode":"","headers":{},"x":481,"y":439,"wires":[]},{"id":"96debaaa.e9c158","type":"debug","z":"f570c7bf.047028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":501,"y":399,"wires":[]},{"id":"bd5507e5.2dcff","type":"comment","z":"f570c7bf.047028","name":"Location from GPS module","info":"","x":170,"y":1100,"wires":[]},{"id":"6331fce0.cd190c","type":"http in","z":"f570c7bf.047028","name":"","url":"/sense","method":"get","upload":false,"swaggerDoc":"","x":141,"y":1139,"wires":[["b14ef4d8.808d88"]]},{"id":"b14ef4d8.808d88","type":"function","z":"f570c7bf.047028","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":1139,"wires":[["8084fb1e.194f98","62efb481.bf47cc"]]},{"id":"8084fb1e.194f98","type":"http response","z":"f570c7bf.047028","name":"","statusCode":"","headers":{},"x":501,"y":1139,"wires":[]},{"id":"62efb481.bf47cc","type":"debug","z":"f570c7bf.047028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":521,"y":1099,"wires":[]}]